.points {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: -25px;

  > label {
    display: block;
    color: #fff;
    background-color: #899eff;
    border: 3px solid #b8d5ff;
    text-align: center;
    padding: 3px 15px;
    border-radius: 50px;
    margin-top: -60px;
    font-size: 1.5em;
  }
}
