.banner {
  display: block;
  width: 250px;
  height: 60px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;

  border: 1px solid #5d6ceb;
  font-size: 2em;
  text-align: center;
  color: #fff;
  background: #4e5fe9;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);
}
