.card {
  cursor: pointer;
  height: fit-content;
  border: 10px solid #fff;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 20px;

  header {
    padding: 20px;
    font-size: 2em;
    line-height: 1.15em;
    color: #796340;
  }

  .description {
    color: #5a5948;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
  }
}

.card:hover {
  transform: translateY(0px) translateX(0px) rotate(-2deg);
}

.card.isActive {
  cursor: default;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: initial;
  transform: none;
}

@media only screen and (max-width: 800px) {
  .card {
    .description {
      font-size: 1.3em;
      padding: 5px;

      li {
        text-align: left;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .card {
    margin-right: initial;
  }
}
