html,
body {
  background-color: #c2cff2;
  height: 100%;
  margin: 0;
  font-family: 'NTR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'NTR', sans-serif;
  line-height: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
